# 카카오맵 Javascript API 키 (클라이언트 브라우저용)
NEXT_PUBLIC_KAKAO_MAP_API_KEY=54e87ab6d390431b27dcd0439e6b1761

# 카카오모빌리티 Directions REST API 키 (서버 라우팅용)
KAKAO_REST_API_KEY=5b0ca22a792a4dd1525ed39cd00235e6

# Supabase 접속 정보 (데이터 동기화 및 실시간 채팅용)
NEXT_PUBLIC_SUPABASE_URL=https://yklzqezpclhrinwwphst.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlrbHpxZXpwY2xocmlud3dwaHN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDQ2OTMsImV4cCI6MjA5NTI4MDY5M30._Yvzj819-TPpmav3AzRdGQc804tEcxKYb9RcdZ7F1dw
